<h1>Welcome to Your Profile Page</h1>


<p><strong>Email:</strong><%= @user.email %></p>
<%= link_to 'Edit Account', edit_user_path(@user) %>

<% if can? :create, Project %>
    <h1>Your Projects</h1>

    <%= @user.email %>


  <% @user.owned_projects.each do |project| %>
    <p>
      <%= "Name of project is #{project.title} time remaining is
      #{distance_of_time_in_words(project.end_date,project.start_or_now)}"%>
    </p>
  <h1>Projects You've donated to</h1>
  <% end %>

<% elsif can? :read, Project %>

   <h1>Projects You've donated to</h1>

<% else %>
  <p>you should not see this</p>
<% end %>
