<h1>Welcome to Your Profile Page</h1>

  <% @user.owned_projects.each do |project| %>
  <p>
  <%= "Name of project is #{project.title} time remaining is
  #{distance_of_time_in_words(project.end_date,project.start_or_now)}"%>
</p>
  <% end %>

<p><strong>Email:</strong><%= @user.email %></p>
<%= link_to 'Edit Account', edit_user_path(@user) %>

<h1>Projects you own</h1>
<p><% @owned_projects.each do |project| %>
  <%= "You owned #{project.title}" %>
<% end %> </p>
