<h1>Welcome to Your Profile Page</h1>

<<<<<<< HEAD
<p> The time left on your project is
<!-- loop throgh back projects and call time left -->

 </p>
=======
<p><strong>Email:</strong><%= @user.email %></p>
<%= link_to 'Edit Account', edit_user_path(@user) %>
>>>>>>> 075e2de433c5521f155110be8f6da1c15bc353d2
