<h1>Welcome to Your Profile Page</h1>

<!-- loop throgh owned projects and call time left -->

  <% @user.owned_projects.each do |project| %>
  <p>
  <%= "Name of project is #{project.title} time remaining is
  #{distance_of_time_in_words(project.end_date,project.start_or_now)}"%>
</p>
  <% end %>
