<h1>Welcome to Your Profile Page</h1>

<p><strong>Email:</strong><%= @user.email %></p>
<%= link_to 'Edit Account', edit_user_path(@user) %>

<% if can? :create, Project %>
    <h1>Your Projects</h1>

    <%= @user.email %>

    <p> The time left on your project is
    <!-- loop throgh back projects and call time left -->

  </p>

  <h1>Projects You've donated to</h1>

<% elsif can? :read, Project %>

   <h1>Projects You've donated to</h1>

<% else %>
  <p>you should not see this</p>
<% end %>
<p>testing</p>
