html{
  box-sizing: border-box;
	font-size: 100%;
}
*,*:before, *:after{
	box-sizing: inherit;
}
.page-wrapper{
	width: 1024px;
	margin: 0 auto;
}
// h1 { font-family: 'Metrophobic', Arial, serif; font-weight: 400; }
