<h1>Projects</h1>

<% if can? :create, Project %>
  <%= link_to 'New Project', new_project_path %>
<% end %>

<% if @projects.any? %>
  <ul>
    <% @projects.each do |project| %>
      <li class = "project">
        <%= link_to project.title, project_path(project) %>
      </li>
    <% end %>
  </ul>
<% end %>
