<% if @projects.any? %>
  <ul>
    <% @projects.each do |project| %>
      <p class = "project">
        <%= link_to project.title, project_path(project) %>
      </p>
    <% end %>
  </ul>
<% end %>
